@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
/* font-family: 'Protest Riot', sans-serif; */

* {
    margin: 0;
    padding: 0;
}

html {
    /* this is how we get a full sized background image */
    background: url('../img/bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* apply default font styles to the body so all other elements inherit it */
body {
    font-family: 'Protest Riot', sans-serif;
}

.container {
    width: 900px;
    margin: 0 auto;
    font-size: 0;
}

.polaroid {
    width: 260px;
    margin: 20px;
    display: inline-block;
    position: relative;
}

.polaroid img {
    width: 100%;
    height: auto;
    border: 10px solid #ccc;
    border-bottom-width: 45px;
}

.polaroid p {
    position: absolute;
    bottom: 14px;
    text-align: center;
    width: 280px;
    color: #888;
    font-size: 1rem;
}