* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}

html {
    scroll-behavior: smooth;
  }

  
/* ScrollBar */

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black; 
    border-radius: 10px;
  }
   
::-webkit-scrollbar-thumb {
    background: rgb(114, 113, 24); 
    border-radius: 3px;
  }

::-webkit-scrollbar-thumb:hover {
    background: rgba(114, 112, 24, 0.491); 
  }

/* Navbar CSS */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 10px 20px;
}

.header h2 a {
    color: rgb(114, 113, 24);
    text-decoration: none;
}

.btn-right {
    position: relative;
}

.menu {
    background-color: black;
    color: rgb(114, 113, 24);
    border: none;
    cursor: pointer;
}

.links {
    display: none;
    position: absolute;
    background-color: black;
    width: 120px;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    left: 50%;
    transform: translateX(-87%);
}

.links a {
    color: rgb(114, 113, 24);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.btn-right:hover 
.links {
    display: block;
}

.links a:hover {
    background-color: rgb(36, 36, 36);
}

.links:hover {
    display: block;
}

/* Table */
table {
    width: 80%;
    border-collapse: collapse;
    padding: 10%;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
}

th, td {
    padding: 8px;
    border-bottom: 1px solid rgb(114, 113, 24);
    color: rgb(114, 113, 24);
    padding: 10px;
    border-bottom: 1px solid rgb(114, 113, 24);
}

td {
    border-right: 1px solid rgb(114, 113, 24);
}

td:last-child {
    border-right: none;
}

th {
    background-color: transparent; 
}

.title {
    text-align: center;
    color: rgb(114, 113, 24);
    margin: 3% 0;
}

a {
    color: rgb(114, 113, 24);
}