/* Global Styles */

* {
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}

html {
    width: 100%;
    height: 100%;
    background-color: #aa3939ff;
}

/* Header & Navbar */

header {
    width: 100%;
    height: 65px;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 10px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #801515ff;
    border: 2.5px solid black;
}
  
  
header h1 a {
    color: #d46a6a;
    margin: 1px;
    padding: 18px;
    border-right: 2.5px solid black;
    font-weight: normal;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

li {
    border-left: 2.5px solid black;
}

.li-border {
    border-left: 2.5px solid black;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    font-size: 18px;
    height: 80px;
    width: 125px;
    line-height: 50px;
}

nav a {
    text-decoration: none;
    color: #d46a6a;
    display: block;
    transition: all 1s ease;
    font-size: 30px;
    padding: 15px 0px;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
}

/* Big Home Buttons */

.btn-group {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-evenly;
    margin-top: 12%;
}

.btn-group button {
    background-color: #550000ff; 
    border: 3px solid black; 
    padding: 120px 90px; 
    cursor: pointer; 
    float: left; 
    transition: all 1s ease-in;
    justify-content: space-evenly;
}

.btn-group a {
    color: #d46a6a;
    text-decoration: none;
    font-size: 3rem;
    transition: all 1s ease-in;
}

.btn-group a:hover {
    color: white;
}
  
.btn-group button:hover {
    background-color: rgb(67, 0, 0);
}

/* Boxes for Pages */

.top {
    margin-top: 120px;
}
.column {
    float: left;
    width: 100%;
    padding: 10px;
    height: 250px; 
    border: 2.5px solid black;
    position: relative;
}

.space {
    margin-top: 60px;
}

.column2 {
    float: left;
    width: 100%;
    padding: 10px;
    height: 250px; 
    border-right: 2.5px solid black;
    border-top: 2.5px solid black;
    border-bottom: 2.5px solid black;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

.row {
    display: flex;
    flex-direction: row;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.left {
    background-color:#550000ff;
    margin-left: 3%;
    width: 22%;
}
  
.right {
    background-color:#d46a6aff;
    margin-right: 3%;
    width: 72%;
}

.row h2 { 
    font-size: 30px;
    color: #d46a6a;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.row p { 
    font-size: 30px;
    position: absolute;
}

/* Media Queries */

/* Lablet Sized */
@media screen and (max-width: 1024px) {
    header {
        flex-direction: column;
        overflow: visible;
        height: auto;
    }

    header h1 a {
        top: 0;
        margin: 0;
        border-left: 2.5px solid black;
        border-right: 2.5px solid black;
        border-bottom: 2.5px solid black;
        justify-self: center;
    }

    li {
        padding: 0px 18.8px;
    }

    .li-border {
        border-right: 2.5px solid black;
    }

    .btn-group {
        margin-top: 25%;
        margin-bottom: 20%;
        display: grid;
        grid-template-columns: repeat(n, 1fr);
        gap: 10px;
        }

    .top {
        margin-top: 200px;
    }
}

/* Mobile Sized */
@media screen and (max-width: 768px)  {
    header h1 a{
        border-right: 2.5px solid black;
        border-left: 2.5px solid black;
        border-bottom: none;
        padding: 18px 75px;
        flex-direction: column;
        text-align: center;
        font-size: 30px;
    }

    li {
        border-top: 2.5px solid black;
        padding: 0px 18.8px;
    }
    

    nav li {
        height: 70px;
    }
    nav li a{
        font-size: 25px;
        padding: 10px 0px;
    }

    .btn-group {
    margin-top: 45%;
    margin-bottom: 30%;
    display: grid;
    grid-template-columns: repeat(n, 1fr);
    gap: 10px;
    }

    .column {
        width: 350px;
    }
    
    .top {
        margin-top: 30%;
    }

    .space {
        margin-top: 70px;
    }

    .left {
        width: 100%;
    }
    
    .right {
        margin: 5%;
        width: 100%;
    }

    .column2 {
        width: 480px;
        height: 300px;
        border-left: 2.5px solid black;
    }
    .row {
        align-items: center;
        flex-direction: column;
    }
}
